<!-- ******************* START NEW HEADER COMPONENT ******************* -->
<header class="header ucg-icons__newPackage">
  <nav class="navbar container-fixed">
    <div class="navbar__zero-level">
      <div
        class="navbar__logo"
        data-sly-resource="${'logo' @ resourceType='ucs-exercise-brian/components/content/logo'}"
      ></div>
      <div
        data-sly-resource="${'top_links' @ resourceType='ucs-exercise-brian/components/content/top-links'}"
      ></div>
      <a class="navbar__entry-point" href="#">
        <div class="icon icon-online-Banking_A"></div>
        <div class="entry-point__text text--label">ONLINE BANKING</div>
      </a>
    </div>

    <div
      class="navbar__hamburger"
      data-sly-use.model="it.codeland.core.models.HeaderNavbar"
    >
      <div class="navbar__first-level">
        <div class="navbar__back text--label">
          <div class="icon icon-back"></div>
          <span>BACK</span>
        </div>
        <div class="first-level__items">
          <div
            data-nav-1="${item.name}"
            class="first-level__item ${item.name}"
            href="${item.path}.html"
            data-sly-repeat="${model.currentPage.listChildren}"
          >
            <span class="item__text text--label">${item.title}</span>
            <span class="icon icon-forth"></span>
          </div>
        </div>
        <div class="navbar__languages">
          <div class="languages__selector">
            <p class="selector__text text--label">ITA</p>
            <span class="icon icon-down"></span>
            <div class="selector__items">
              <a
                class="selector__item selector__item--active text--label"
                data-lang="ITA"
                data-lang-dk="ITALIANO"
                data-lang-m="IT"
                href="#"
                >ITALIANO</a
              >
              <a
                class="selector__item text--label"
                data-lang="ENG"
                href="#"
                data-lang-dk="ENGLISH"
                data-lang-m="EN"
                >ENGLISH</a
              >
            </div>
          </div>
        </div>
        <div class="navbar__second-level">
          <div
            class="second-level__items ${item.name}"
            data-nav-2="${item.name}"
            data-sly-repeat="${model.currentPage.listChildren}"
          >
            <div class="container">
              <a
                class="second-level__item--title text--paragraph-title"
                href="${item.path}.html"
              >
                ${item.title}
              </a>
              <a
                class="second-level__item text--body"
                data-sly-repeat="${item.listChildren}"
                href="${item.path}.html"
                >${item.title}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="hamburger">
    <div class="icon"></div>
  </div>
</header>
<!-- ******************* END NEW HEADER COMPONENT ******************* -->
