<sly data-sly-use.navLinks="it.codeland.core.models.NavLinks">
  <div class="navbar__link" data-sly-test="${!navLinks.links}">
    Add top navigation links
  </div>

  <div class="navbar__links" data-sly-list.item="${navLinks.links}">
    <a class="navbar__link" href="${item.link}.html" target="${item.target}">
      <div class="${item.icon}"></div>
      <p class="text--label">${item.linklabel}</p>
    </a>
  </div>
</sly>
