<sly data-sly-use.model="it.codeland.core.models.FooterLinks">
  <div class="footer__lastLink" data-sly-test="${!model.footerLinks}">
    <div
      class="footer__link"
      data-sly-test="${!model.footerLinks && wcmmode.edit}"
    >
      Add Secondary Links
    </div>
  </div>

  <div class="footer__lastLink" data-sly-list.item="${model.footerLinks}">
    <a href="${item.link}.html" class="footer__link" target="${item.target}"
      >${item.label}</a
    >
  </div>
</sly>
