<footer class="footer ucg-icons__newPackage">
  <div class="footer__wrap container">
    <div class="footer__upper">
      <div
        data-sly-resource="${'subFooter' @ resourceType='ucs-exercise-brian/components/content/footer-main-links'}"
      ></div>
      <div
        data-sly-resource="${'subFooterNav' @ resourceType='ucs-exercise-brian/components/content/footer-secondary-nav'}"
      ></div>
    </div>
    <div class="footer__bottom">
      <div class="footer__col">
        <div class="footer_logo">
          <div data-sly-resource="${'myimage' @ resourceType='ucs-exercise-brian/components/content/logo'}"></div>
        </div>

        <div class="footer__copy">
          <div
        data-sly-resource="${'rightsText' @ resourceType='ucs-exercise-brian/components/text'}"
      >Add rights text</div>
        </div>
      </div>
      <div class="footer__col">
        <div
          data-sly-resource="${'footer-socials' @ resourceType='ucs-exercise-brian/components/content/footer-socials'}"
        ></div>
        <div data-sly-resource="${'footer social links' @ resourceType='ucs-exercise-brian/components/content/footer-social-links'}"></div>
    </div>
  </div>
</footer>
