<sly data-sly-use.footer="it.codeland.core.models.NavLinks">
  <div
    style="color: white; text-align: end"
    data-sly-test="${!footer.links && wcmmode.edit}"
  >
    Add Social Links
  </div>

  <div class="footer__socials" data-sly-list.item="${footer.links}">
    <a href="${item.link}" target="_blank">
      <span class="${item.icon}"></span>
    </a>
  </div>
</sly>
