<sly data-sly-use.model="it.codeland.core.models.FooterLinks">
  <div class="footer__utils" data-sly-test="${!model.footerLinks}">
    <a href="#" data-sly-test="${!model.footerLinks && wcmmode.edit}"
      >Add External Links</a
    >
  </div>

  <div class="footer__utils" data-sly-list.item="${model.footerLinks}">
    <a href="${item.link}.html" target="${item.target}">${item.label}</a>
  </div>
</sly>
